<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="propertyConfigurer" class="mysh.spring.config.ConfigLoader">
		<property name="locations">
			<list>
				<value>classpath:projectconfig.properties</value>
			</list>
		</property>
		<property name="testLocations">
			<list>
				<value>classpath:projectconfig_test.properties</value>
			</list>
		</property>
	</bean>
	
</beans>
