/mlib.ipr
/mlib.iws
/.idea
/.settings
/.svn
/target
/.classpath
/.project
/.springBeans
/mlib.iml
/core/core.iml
/core/target
/imagesearch/imagesearch.iml
/imagesearch/target

/core/mlib-core.iml
/imagesearch/mlib-imagesearch.iml
/dev/mlib-dev.iml
/dev/target
