<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>

	<!--http://code.google.com/p/log4jdbc/-->
	<logger name="jdbc.sqltiming" level="DEBUG"/>
	<logger name="jdbc.sqlonly" level="ERROR"/>
	<logger name="jdbc.resultset" level="ERROR"/>
	<logger name="jdbc.audit" level="ERROR"/>

	<logger name="org.springframework" level="INFO"/>

	<logger name="org.hibernate.cfg.Ejb3Column" level="INFO"/>
	<logger name="org.hibernate.cfg.annotations" level="INFO"/>
	<logger name="org.hibernate.engine.internal.TwoPhaseLoad" level="INFO"/>
	<logger name="org.hibernate.ejb.packaging.AbstractJarVisitor" level="INFO"/>
	<logger name="org.hibernate.loader.Loader" level="INFO"/>
	<logger name="org.hibernate.type.BasicTypeRegistry" level="INFO"/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- Tests run on modern PCs show that buffering related property -->
		<!-- "ImmediateFlush" has negligible impact and will be ignored.  -->
		<encoder>
			<pattern>%date{yy-MM-dd HH:mm:ss} %-5level [%thread] %logger{5}: %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>


	<root level="debug">
		<appender-ref ref="console"/>
	</root>

</configuration>

