<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dbConf" class="mysh.db.DBConf">
		<description>连接配置</description>
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost/mycrawler?user=root&amp;password=myshzzx" />
		<property name="poolSize" value="6">
			<description>数据库连接池大小</description>
		</property>
		<property name="sqlQueueSize" value="3000">
			<description>非阻塞 sql 执行器队列</description>
		</property>
	</bean>

	<bean id="dbConnPool" class="mysh.db.DBConnPool">
		<description>连接池</description>
		<constructor-arg ref="dbConf" />
	</bean>


</beans>
